#tab_recommend{
  .tab-function{
      width: 880px;
    .slick-slide {
    text-align: center;
    height: 380px;
    line-height: 380px;
    overflow: hidden;
    }   
  }
  .fun_bar{
    user-select:none;
    > div{
      height: 120px;
      display: block;
      text-align: left;
      padding:10px;
    }
    .num{
      font-size: 28px;
      font-style: oblique;
      
    }
    .desc{
      font-size: 16px;
      color: #999;
      
    }
    .title{
      font-size: 20px;
      font-weight: bold;
    }
  }
}