@import "../../common.less";

#contactUs{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .ant-radio-button-wrapper-checked:first-child{
    background-color:@colRed;
    color: #fff;
    border-radius: 0;
  }
  .mix-pd{
    padding: @mixpdTop 0;
  }
  .images{
    background-color: bisque;
    height: 330px;
  }
  .contac-content{
    padding-bottom: @mixpdTop * 2;
    font-size: 18px;
  }
  .ant-tabs-bar{
    text-align: left
  }
}