<div class="ant-col-xs-24 ant-col-sm-24 ant-col-md-6">
    <div class="footer-center">
        <h2>
            <span>相关资源</span>
        </h2>
        <div>
            <a href="http://pro.ant.design">Ant Design Pro</a>
        </div>
        <div>
            <a href="http://mobile.ant.design">Ant Design Mobile</a>
        </div>
        <div>
            <a href="http://ng.ant.design">NG-ZORRO</a>
            <span> - </span>Ant Design of Angular</div>
        <div>
            <a target="_blank " href="https://github.com/websemantics/awesome-ant-design">
                <span>Awesome Ant Design</span>
            </a>
        </div>
        <div>
            <a href="http://scaffold.ant.design">Scaffolds</a>
            <span> - </span>
            <span>脚手架市场</span>
        </div>
        <div>
            <a target="_blank" rel="noopener noreferrer" href="https://github.com/dvajs/dva">dva</a> -
            <span>应用框架</span>
        </div>
        <div>
            <a target="_blank" rel="noopener noreferrer" href="http://motion.ant.design">Ant Motion</a>
            <span> - </span>
            <span>设计动效</span>
        </div>
        <div>
            <a target="_blank" rel="noopener noreferrer" href="http://library.ant.design/">Axure Library</a>
            <span> - </span>
            <span>Axure 部件库</span>
        </div>
        <div>
            <a target="_blank" rel="noopener noreferrer" href="http://ux.ant.design">Ant UX</a>
            <span> - </span>
            <span>页面逻辑素材</span>
        </div>
        <div>
            <a target="_blank " href="http://ant-design.gitee.io/">
                <span>国内镜像站点 🇨🇳</span>
            </a>
        </div>
    </div>
</div>